@model WebsiteBookingHotel.Data.BLog


@{
    ViewData["Title"] = "Tin tức";
}

@section Css {
    <style>
    body {
            background: url(@(ViewBag.Banner != null ? ViewBag.Banner.Link : "/img/slideshow_1.jpg")) no-repeat;
            background-size: 100% auto;
        }
    </style>
    <style>
        header {
            background: #fff;
        }

        .page-index-header {
            margin: 0px;
            padding: 25px 0px;
            text-align: center;
            background: rgba(255,255,255,0.8);
        }

            .page-index-header > h2 {
                font-size: 30px;
                color: #ec6841;
                letter-spacing: 0px;
                margin-top: 0;
                text-transform: uppercase;
                font-weight: 500;
                font-family: 'Roboto', sans-serif;
                text-shadow: 0px 0px 3px #b59472;
            }

        .background-blur {
            -webkit-filter: blur(5px);
            -moz-filter: blur(5px);
            -o-filter: blur(5px);
            -ms-filter: blur(5px);
            filter: blur(5px);
        }

        h3 {
            font-weight: 500;
            line-height: 25px;
            color: #ec6841;
            font-family: 'Roboto', sans-serif;
        }

        .wblog-date-header, .sub-hyperlink-header {
            font-weight: 500;
            line-height: 25px;
            color: #ec6841;
            font-family: 'Roboto', sans-serif;
            padding: 20px 0px;
        }

        .wblog-image {
            padding: 5px;
            border: 1px solid #4ca2f5;
            border-radius: 3px;
        }

        .wblog-date-credit {
            padding: 10px 0px;
            border-top: 1px dashed #9a7d00;
            margin-top: 10px;
        }

        .wblog-date-tag {
            padding: 3px 5px;
            background: #584242;
            color: #fff;
            border-radius: 2px;
        }

        .sub-hyperlink {
            padding-left: 25px;
            padding-top: 25px;
        }

        .sub-hyperlink-content {
            padding-left: 15px;
        }

            .sub-hyperlink-content i {
                color: #45832c;
            }

            .sub-hyperlink-content a {
                color: #777;
            }
    </style>
}

<div class="container-fluid p-0">
    <div class="background-blur"></div>
    <div class="mx-auto page-index-header">
        <h2>
            Tin tức
        </h2>
    </div>
</div>
<div class="container-fluid bg-white pt-5 pb-5">
    <div class="container">
        <div class="row m-0 p-0">
            <div class="col-md-8">
                <div class="wblog pt-5 border-bottom">
                    <div class="wblog-date-header">
                        <a href="/Tin-Tuc/@Model.Alias"><h3>@Model.Title</h3></a>
                    </div>
                    <div class="wblog-image">
                        <img src="@Model.Addtional" class="img-fluid" />
                    </div>
                    <div class="wblog-date-content">
                        @Model.HTML
                    </div>
                    <div class="wblog-date-credit">
                        <span>
                            Tác giả : @Model.Note
                        </span>
                        <span class="float-right">
                            <i class="far fa-clock"></i> @Model.DateCreate.ToString("dd/MM/yyyy")
                        </span>
                    </div>
                    <div class="wblog-date-tag">
                        @Model.Tag
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sub-hyperlink mb-5 pb-5 border-bottom">
                    <div class="sub-hyperlink-header">
                        <h4>Danh mục</h4>
                    </div>
                    <div class="sub-hyperlink-content">
                        <p><a href="/"><i class="fas fa-home"></i> Trang chủ</a></p>
                        <p><a href="/Danh-Sach-Phong"><i class="fas fa-hotel"></i> Phòng</a></p>
                        <p><a href="/Tin-Tuc"><i class="fas fa-newspaper"></i> Blog</a></p>
                        <p><a href="/Gioi-Thieu"><i class="fas fa-info"></i> Giới thiệu</a></p>
                        <p><a href="/Lien-He"><i class="fas fa-map-marked-alt"></i> Liên hệ</a></p>
                        <p><a href="/Thu-Vien-Anh"><i class="far fa-images"></i> Thư viện ảnh</a></p>
                    </div>
                </div>
                <div class="sub-hyperlink mb-5 pb-5  border-bottom">
                    <div class="sub-hyperlink-header">
                        <h4>Tag</h4>
                    </div>
                    <div class="sub-hyperlink-content">
                        <span class="badge badge-light mr-1 mb-1">Khuyến mãi</span>
                        <span class="badge badge-light mr-1 mb-1">Sự kiện</span>
                        <span class="badge badge-light mr-1 mb-1">Tin tức</span>
                        <span class="badge badge-light mr-1 mb-1">Tết nhâm tí</span>
                    </div>
                </div>
                <div class="sub-hyperlink mb-5">
                    <div class="sub-hyperlink-header">
                        <h4>Tin tức sự kiện</h4>
                    </div>
                    <div class="sub-hyperlink-content">
                        @ViewData["websiteInfo.Name"] sẽ thường xuyên cập nhật các thông tin & sự kiện cũng như chương trình giảm giá để các bạn có thể nắm bắt,
                        nếu các bạn có bất cứ thắc mắc gì, vui lòng liên hệ với chúng tôi để được hỗ trợ tốt nhất.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr />

<partial name="_PartialRoom" />


