@{
    ViewData["Title"] = "Trang chủ";
}

<div class="container-fluid p-0 slide-show">
    <img src="@(ViewBag.Banner != null ? ViewBag.Banner.Link : "/img/slideshow_1.jpg")" class="img-fluid" style="width: 100%;" alt="Responsive image">
    <p class="mx-auto title-welcome">
        @ViewData["Welcome"]
    </p>
</div>
<div class="container-fluid p-0 fast-booking-form">
    <div class="container p-5">
        <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control" id="fastBookingEmail" placeholder="Số điện thoại" style="border-right: none;">
                    <div class="input-group-append">
                        <div class="input-group-text"><i class="fas fa-phone"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <input type="text" class="form-control" id="fastBookingFromDate" placeholder="Ngày nhận phòng" style="border-right: none;" data-toggle="datepicker">
                    <div class="input-group-append">
                        <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <input type="text" class="form-control" id="fastBookingToDate" placeholder="Ngày trả phòng" style="border-right: none;" data-toggle="datepicker">
                    <div class="input-group-append">
                        <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <select class="custom-select mr-sm-2" id="fastBookingTypeRoom">
                    <option selected>Loại phòng</option>
                    <option value="1">Phòng đơn</option>
                    <option value="2">Phòng đôi</option>
                </select>
            </div>
            <div class="col-md-2">
                <select class="custom-select mr-sm-1" id="fastBookingUnit">
                    <option selected>Số người</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="col-md-1">
                <input type="button" class="btn btn-booking text-white" value="Đặt phòng" onclick="bookingRoom()" />
            </div>
        </div>
    </div>
</div>

<partial name="_PartialRoom" />

<hr />

<div class="container">
    <div class="page-index-header pt-5">
        <h2>
            TUYỂN TẬP HÌNH ẢNH
        </h2>
        <span>
            " Hãy tìm phòng bạn thích, hãy cảm nhận như nhà của bạn "
        </span>
    </div>
    <div class="row">
        @foreach (var item in ViewBag.thumbnail)
        {
            <div class="col-md-3">
                <img class="img-thumbnail" src="@item.Link" alt="@item.Title" />
            </div>
        }
    </div>
</div>

<hr />


<div class="container">
    <div class="row">
        @foreach (var item in ViewBag.HTML_content)
        {
            <div class="col-md-3 page-index-header pb-5">
                <p class="icon-bigger mx-auto mb-5">
                    @Html.Raw(item.Note)
                </p>
                <h3>
                    @item.TypeName
                </h3>
                <span>
                    @item.HTML
                </span>
            </div>
        }
    </div>
</div>
